@model TestViewModel
@{
    ViewData["Title"] = "Test View";
}

<h1>Hello from Test Controller</h1>
<h2>Your Name is: @Model.Name</h2>

@if (Model.DateOfBirth.HasValue)
{
    <h2>Your Date of Birth is: @Model.DateOfBirth</h2>
}